.socialLinks {
    display: flex;
    flex-direction: row;
    gap: var(--space-m);
    justify-content: center;
    flex-wrap: wrap;
}

.link {
    background-color: var(--color-grey-800);
    color: var(--color-grey-100);
    border-radius: 1rem;
    padding: var(--space-2xs);
    line-height: 1;

    &_icon {
        font-size: var(--step-4);
    }

    &_text {
        display: none;
        font-size: var(--step--1);
    }
}