.header {
    margin-inline: max(var(--space-s-l), 50% - var(--container)/2);
    margin-block: var(--space-s-l);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

    &_logo {
        position: relative;
        width: 15em;
        height: auto;

        img {
            width: 100%;
            height: auto;
        }
    }
}