@use './variables' as *;

body {
    color: var(--color-grey-700);
    background-color: var(--color-background);
    line-height: 1.5;
    font-weight: 400;
    font-size: var(--step-0);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

* {
    &::selection {
        background: var(--color-red-300);
    }
}